extends layout

block content
  h1 All Composers

  if composer_list 
    ul
      each composer in composer_list 
        li
          a(href= composer.url) #{composer.fullname}
  else 
    p There are no composers in our database.
