extends layout

block content
  .indexContent
    h1 In our Database:
    .indexInfoContainer
      if opera_list 
        .indexInfoCard 
          a(class="indexInfo" href="/operas") Operas: 
          p(class="indexInfo infoCount")= opera_list.length
      if composer_list 
        .indexInfoCard 
          a(class="indexInfo" href="/composers") Composers: 
          p(class="indexInfo infoCount")= composer_list.length 
      if aria_list 
        .indexInfoCard
          a(class="indexInfo" href="/arias") Arias:
          p(class="indexInfo infoCount")= aria_list.length
    
          
      
