extends layout

block content
  .indexContent
    h1.indexHeader In our Database:
    .indexInfoContainer
      if opera_list 
        .indexInfoCard 
          a(class="indexInfo cardTitle" href="/operas") Operas 
          p(class="indexInfo")= opera_list.length
      if composer_list 
        .indexInfoCard 
          a(class="indexInfo cardTitle" href="/composers") Composers
          p(class="indexInfo")= composer_list.length 
      if aria_list 
        .indexInfoCard
          a(class="indexInfo cardTitle" href="/arias") Arias
          p(class="indexInfo")= aria_list.length
    
          
      
