doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1.logo 
        a(href="/") Opera Inventory
      ul.navList 
        li.navListItem
          a(href="/") Home
        li.navListItem 
          a(href="/operas") Operas
        li.navListItem 
          a(href="/composers") Composers
        li.navListItem 
          a(href="/arias") Arias
        li.navListItem 
          a(href="/tags") Search by tag 

    block content
