doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul 
      li 
        a(href="/") Home
      li 
        a(href="/operas") All operas
      li 
        a(href="/composers") All Composers
      li 
        a(href="/arias") All Arias 

    block content
