extends layout

block content
  .listContent
    .listHeader
      h1.categoryListTitle All Operas
      .detailEditButtons
        a(href="/create/opera") + Add new opera 
  
    if opera_list 
      ul.categoryList
        each opera in opera_list 
          li.categoryListItem
            a(href= opera.url) #{opera.name}
            span.listItemInfo  by 
              a(class="listItemInfo" href= opera.composer.url) #{opera.composer.fullname}
    else 
      p There are no composers in our database.
