extends layout

block content
  .listContent
    h1.categoryListTitle All Operas
  
    if opera_list 
      ul.categoryList
        each opera in opera_list 
          li.categoryListItem
            a(href= opera.url) #{opera.name}
            |  by 
            a(href= opera.composer.url) #{opera.composer.fullname}
    else 
      p There are no composers in our database.
    a(href="/create/opera") Add Opera 
