extends layout 

block content 
  .listContent
    .listHeader
      h1.categoryListTitle Search by Opera and Aria Types
      .detailEditButtons
        a(href="/create/tag") + Add new tag 
    
    if tag_list && tag_list.length > 0
      .tagsContainer
        each tag in tag_list 
          .tagButton
            a(href=tag.url) #{tag.name}